
/*body {
    background: url('../images/bg.jpg') no-repeat center center fixed !important;
    background-size: cover;
    font-size:50px;
}




@tailwind base;
@tailwind components;
@tailwind utilities;



  body {
   @apply bg-red-600;
  }



@layer components {
  .my-card {
    @apply bg-white p-6 rounded-xl shadow-lg border border-gray-200;
  }

  .my-button {
    @apply bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition-colors;
  }
  
  .nav-link {
    @apply text-gray-600 hover:text-indigo-600 font-medium;
  }
}*/